Flask
psycopg2-binary
gunicorn
Flask-Session
python-dotenv
werkzeug
bcrypt
numpy
google-generativeai>=1.0.0



PyPDF2
nltk
scikit-learn

requests
pdfplumber
transformers
torch









