Flask
psycopg2-binary
gunicorn
Flask-Session
python-dotenv
werkzeug
bcrypt
google-genai
numpy
google-generativeai>=0.8.4


PyPDF2
nltk
scikit-learn

requests
pdfplumber
transformers
torch







